{include file="public/headerny" /}

<link rel="stylesheet" href="/public/static/setting/css/style.css">

<form id="contant-form" class="form" name="contact-form" action="{:url('admin/user/updata')}" method="post"  style="margin-top:20px;">
  <h1 class="form__headline">账户设置</h1>
  <div class="form__description">
    <p>请输入必要事项后，点确定后保存。</p>
  </div>
  
  <div class="form__group">
    <p class="form__group-header">
      <label class="form__group-label" for="tel">1.原来的密码</label>
    </p>
    <div class="form__group-content">
      <div class="form__text-input">
        <p class="text-input">
          <input id="oldpass" class="text-input__body -placeholder-visible" type="password" name="oldpass" value="">
          <span class="text-input__validator"></span>
        </p>
      </div>
    </div>
  </div>
  <div class="form__group">
    <p class="form__group-header">
      <label class="form__group-label" for="tel">2.新的密码</label>
    </p>
    <div class="form__group-content">
      <div class="form__text-input">
        <p class="text-input">
          <input id="exdh" class="text-input__body -placeholder-visible" type="password" name="pass" value="">
          <span class="text-input__validator"></span>
        </p>
      </div>
      <p class="form__validation" data-validation="tel" role="alert" aria-live="assertive"></p>
    </div>
  </div>
  
<div class="form__group">
    <p class="form__group-header">
      <label class="form__group-label" for="tel">3.重复密码</label>
    </p>
    <div class="form__group-content">
      <div class="form__text-input">
        <p class="text-input">
          <input id="wwexdh" class="text-input__body -placeholder-visible" type="password" name="repass" value="">
          <span class="text-input__validator"></span>
        </p>
      </div>
    </div>
  </div>



    <input type="text" name="user" value="{$user[0]['bm_phone']}" style="display:none;">
    <input type="text" name="id" value="{$id}" style="display:none;">

  <div class="form__submit">
    <p class="form__validation" data-validation="submit" role="alert" aria-live="assertive"></p>
    <button class="button" type="submit">保存</button>
  </div>
</form>

			<hr class="mb-5">
			<hr class="mb-4">
 {include file="public/footer" /}