 {include file="public/headerson" /}
<script>
function serchall() {
        var inputValue = document.getElementById("inputId").value;
        window.location.href = '/index/serch/serch?id=1&kw='+inputValue;  
}
function handleEnter(event) {
    if (event.key === "Enter") {
    var inputValue = document.getElementById("inputId").value;
    window.location.href = '/index/serch/serch?id=1&kw='+inputValue;  
    }
}
</script>
   <!--/public/static/serch-->     
   

  <link rel="stylesheet" href="/public/static/serch/assets/css/style.css">

		<div class="page-content-wrapper">
            <script src="/public/static/serch/assets/js/b99e675b6e.js"></script>
            
            <div class="wrapper">
                <div class="search_box">
                    <div class="dropdown">
                        <div class="default_option">所有</div>  
                        <ul>
                            
                        {volist name='cpcls' id='vocls'}
                          <li>{$vocls.name}</li>
                        {/volist}
   
                        </ul>
                    </div>
                    <div class="search_field">
            					{if condition="($kw=='all')"}
            						<form action="javascript:;" method="POST"><input class="input"  type="search"
            								value="" id="inputId" autofocus onkeydown="handleEnter(event)" placeholder="Search"></form>
            					{else}
            					    <form action="javascript:;" method="POST"><input class="input"  type="search"
            								value="{$kw}" id="inputId" autofocus onkeydown="handleEnter(event)" placeholder="Search"></form>
            					{/if}
                      
                      <i class="fas fa-search" onclick="return serchall();"></i>
                  </div>
                </div>
            </div>

              <script src='/public/static/serch/assets/js/jquery.min.js'></script>
              <script src="/public/static/serch/assets/js/script.js"></script>
			<div class="trending-news-wrapper">
				<div class="container mt-1" style="background-color:#fff;">
				<div class="pt-3" ><span  style="color:#09c; font-weight:bold;">以下为加工单据</span></div><hr/>
				    
			{volist name='all' id='vo'}

						{if condition="($vo.she==1)"}
    						{if condition="($vo.zf==1)"}
    

    						{else}
            					
                    			<div class="bg-white my-3">
                    				<div class="card rounded-4 border overflow-hidden">
                    					<div class="card-header p-3 border-bottom">
                    						<div class="d-flex justify-content-between">
                    						    
                                					{if condition="($vo.cku==2)"}
                                        				<div class="d-flex gap-2" onclick="window.location.href='/index/index/dtle?id={$vo.id}'">
                                								<div><img src="/public/static/newskin/picture/ck.png" height="45px"></div>
                                								<div>
                                									<h5 class="mb-1">{$vo.myname}</h5>
                                									<p class="text-muted my-0">单号：[{$vo.dhao}]</p>
                                									<div class="text-muted small">加工方式：{$vo.madd}&nbsp;&nbsp;&nbsp;&nbsp;[操作员：{$vo.name}]</div>
                                								</div>
                            							</div>
                        						    {else}
                                        				<div class="d-flex gap-2" onclick="window.location.href='/index/index/dtle?id={$vo.id}'">
                            								<div><img src="/public/static/newskin/picture/rk.png" height="45px"></div>
                            								<div>
                            									<h5 class="mb-1">{$vo.myname}</h5>
                            									<p class="text-muted my-0">单号：[{$vo.dhao}]</p>
                            									<div class="text-muted small">加工方式：{$vo.madd}[操作员：{$vo.name}]</div>
                            								</div>
                            							</div>
                        						    
                        						    {/if}

                    						</div>
                    					</div>
                    					<div class="card-body">
                    					    
            							<script>var allkg=0;var alljine=0;</script>
                    					{volist name='db2' id='vox'}
                    					    {if condition="($vo.id==$vox.fid)"}
                        					    <div class="d-flex align-items-center gap-2 mb-3">
                        							<div><img src="/public/mainstyle/static/picture/veg.jpeg" height="20px"></div>
                        							<div>[{$vox.cpname}]({$vox.djia})[{$vox.cpnum}{if condition="($vox.jine=='0')"}KG{else}{$vox.jine}{/if}*{$vox.danjias}={$vox.jineall}元]</div>
                        						</div>
                    						<script>
                    						    {if condition="($vox.hjzl==1)"}
                    						        allkg=allkg+{$vox.cpnum};
                    						    {/if}
                    						    alljine=alljine+{$vox.jineall};
                    						</script>
                    						{/if}
                    						
                    					{/volist}

   
   
                    						<hr><a href="#" class="text-decoration-none link-dark">
                    							<div class="d-flex justify-content-between">
                    								<div class="text-muted">合计量:<script>document.write(allkg.toFixed(2));</script>
                    								</div>
                    								<div class="fw-bold">合计:<script>
            							    document.write(alljine.toFixed(2));
            							</script>元
                    								</div>
                    							</div>
                    						</a>
                    						<hr>
                    						<div class="d-flex align-items-center justify-content-between">
                    							<div><a href="/index/index/editshow?id={$vo.id}" class="btn btn-success btn-sm rounded-pill small">&nbsp;修改&nbsp;</a>&nbsp;<a href="#" onclick="del({$vo.id})" class="btn btn-danger btn-sm rounded-pill small">&nbsp;作废&nbsp;</a>&nbsp;<a href="#" onclick="reprint({$vo.id})" class="btn btn-sm rounded-pill small"style="background-color:#bdbdbd;">&nbsp;补打&nbsp;</a></div>
                    						</div>
                    					</div>
                    				</div>
                    			</div>


    						{/if}

						{/if}

			{/volist}
				    <div class="pt-3" ><span  style="color:#09c; font-weight:bold;">以下为外委单据</span></div><hr/>
			{volist name='allww' id='vo'}

						{if condition="($vo.she==1)"}
    						{if condition="($vo.zf==1)"}
    

    						{else}
    						
                                	<div class="bg-white my-3">
                    				<div class="card rounded-4 border overflow-hidden">
                    					<div class="card-header p-3 border-bottom">
                    						<div class="d-flex justify-content-between">
                    						    
                                					{if condition="($vo.cku==2)"}
                                        				<div class="d-flex gap-2" onclick="window.location.href='/index/wwdj/dtle?id={$vo.id}'">
                                								<div><img src="/public/static/newskin/picture/ck.png" height="45px"></div>
                                								<div>
                                									<h5 class="mb-1">{$vo.myname}</h5>
                                									<p class="text-muted my-0">单号：[{$vo.dhao}]</p>
                                									<div class="text-muted small">加工方式：{$vo.madd}&nbsp;&nbsp;&nbsp;&nbsp;[操作员：{$vo.name}]</div>
                                								</div>
                            							</div>
                        						    {else}
                                        				<div class="d-flex gap-2" onclick="window.location.href='/index/wwdj/dtle?id={$vo.id}'">
                            								<div><img src="/public/static/newskin/picture/rk.png"  height="45px"></div>
                            								<div>
                            									<h5 class="mb-1">{$vo.myname}</h5>
                            									<p class="text-muted my-0">单号：[{$vo.dhao}]</p>
                            									<div class="text-muted small">加工方式：{$vo.madd}[操作员：{$vo.name}]</div>
                            								</div>
                            							</div>
                        						    
                        						    {/if}

                    						</div>
                    					</div>
                    					<div class="card-body">
                    					    
            							<script>var allkg=0;var alljine=0;</script>
                    					{volist name='db2ww' id='vox'}
                    					    {if condition="($vo.id==$vox.fid)"}
                        					    <div class="d-flex align-items-center gap-2 mb-3">
                        							<div><img src="/public/mainstyle/static/picture/veg.jpeg" height="20px"></div>
                        							<div>[{$vox.cpname}]({$vox.djia})[{$vox.cpnum}{if condition="($vox.jine=='0')"}KG{else}{$vox.jine}{/if}*{$vox.danjias}={$vox.jineall}元]</div>
                        						</div>
                    						<script>
                    						    {if condition="($vox.hjzl==1)"}
                    						        allkg=allkg+{$vox.cpnum};
                    						    {/if}
                    						    alljine=alljine+{$vox.jineall};
                    						</script>
                    						{/if}
                    						
                    					{/volist}

   
   
                    						<hr><a href="#" class="text-decoration-none link-dark">
                    							<div class="d-flex justify-content-between">
                    								<div class="text-muted">合计量:<script>document.write(allkg.toFixed(2));</script>
                    								</div>
                    								<div class="fw-bold">合计:<script>
            							    document.write(alljine.toFixed(2));
            							</script>元
                    								</div>
                    							</div>
                    						</a>
                    						<hr>
                    						<div class="d-flex align-items-center justify-content-between">
                    							<div><a href="/index/index/editshow?id={$vo.id}" class="btn btn-success btn-sm rounded-pill small">&nbsp;修改&nbsp;</a>&nbsp;<a href="#" onclick="del({$vo.id})" class="btn btn-danger btn-sm rounded-pill small">&nbsp;作废&nbsp;</a>&nbsp;<a href="#" onclick="reprint({$vo.id})" class="btn btn-sm rounded-pill small"style="background-color:#bdbdbd;">&nbsp;补打&nbsp;</a></div>
                    						</div>
                    					</div>
                    				</div>
                    			</div>

    						{/if}

						{/if}

			{/volist}		

				</div>
			</div>
		</div>


 {include file="public/footer3" /}
        