<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
		<title><?php echo cookie('mainame');?></title>
		<link rel="stylesheet" type="text/css" href="/public/static/newassets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/public/static/newassets/css/style.css">
		<link href="/public/static/newassets/css/css.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/public/static/newassets/css/fontawesome-all.min.css">
	</head>
	<body class="theme-light" data-highlight="blue2">
		<div id="preloader">
			<div class="spinner-border color-highlight" role="status"></div>
		</div>
		<div id="page">
			<div class="header header-fixed header-auto-show header-logo-app"><a href="#" data-back-button=""
					class="header-title header-subtitle">加工单据</a><a href="#" data-back-button=""
					class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a><a href="#"
					data-toggle-theme="" class="header-icon header-icon-2 show-on-theme-dark"><i
						class="fas fa-sun"></i></a><a href="#" data-toggle-theme=""
					class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
			</div>

			<div class="page-content">
				<div class="page-title page-title-small">
					<h2><a href="#" data-back-button=""><i class="fa fa-arrow-left"></i></a>加工单据</h2><a
						href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img"
						data-src="/public/static/newassets/picture/4s.png"></a>
				</div>
				<div class="card header-card" data-card-height="150">
					<div class="card-overlay  opacity-95" style="background-color:#295261;"></div>
					<div class="card-overlay dark-mode-tint"></div>
					<div class="card-bg preload-img" data-src="/public/static/newassets/image/20.jpg"></div>
				</div>



                 <div class="card card-style p-4">
                    <!-- 我的拼团列表 -->
        			{volist name='all' id='vo'}
                                    <h6>[订单详情]</h6>
                                    <hr/>
                                    <h6 style="color:green;">单号：{$vo.dhao} </h6>
            						{volist name='db2' id='vox'}
            							<h7>{$vox.cpname}&nbsp;&nbsp;x&nbsp;&nbsp;{$vox.cpnum}<br/><h7>
            						{/volist}
                                    <hr>
                                     <h6>[配送信息]
                                      {if condition="($vo.cku==1)"}
            						    (入库单)
            						{else}
						                (出库单)
						            {/if}
                                     </h6>
                                    <hr/>
                                    <div>
                                    <h6>公司名:{$xname}<br/>
                                    </div>
            						<hr/>
            						{if condition="($vo.she==0)"}
            						    <span style="color: red;">等待审核中</span>
            						{else}
						                <span style="color:#14B56F;">已审核</span>
						            {/if}

			{/volist}
</div>
 {include file="public/footer" /}
        