<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="viewport"
			content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover">
		<title><?php echo cookie('mainame');?></title>
		<link rel="stylesheet" type="text/css" href="/public/static/newassets/css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="/public/static/newassets/css/style.css">
		<link href="/public/static/newassets/css/css.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/public/static/newassets/css/fontawesome-all.min.css">
 <script>
 
 function reprint(idx) {
  layer.open({
    title: [
      '系统消息',
      'background-color:#8DCE16; color:#fff;'
    ]
    ,anim: 'up'
    ,content: '是否要重新打印这条订单？'
    ,btn: ['确认', '取消']
	,yes: function(index){
	  window.location.href="{:url('index/wwdj/rprint')}?idx="+idx+"&id={$id}&y={$y}&m={$m}";
	}
  });
  }  
 </script>
   <script src="/public/static/main/css/layer_mobile/layer.js"></script>
	</head>
	<body class="theme-light" data-highlight="blue2">
		<div id="preloader">
			<div class="spinner-border color-highlight" role="status"></div>
		</div>
		<div>
			<div class="header header-fixed header-auto-show header-logo-app"><a href="#" data-back-button=""
					class="header-title header-subtitle">
                    详细信息
                    </a><a href="#" data-back-button=""
					class="header-icon header-icon-1"><i class="fas fa-arrow-left"></i></a><a href="#"
					data-toggle-theme="" class="header-icon header-icon-2 show-on-theme-dark"><i
						class="fas fa-sun"></i></a><a href="#" data-toggle-theme=""
					class="header-icon header-icon-2 show-on-theme-light"><i class="fas fa-moon"></i></a>
			</div>

			<div class="page-content">
				<div class="page-title page-title-small">
					<h2><a href="#" data-back-button=""><i class="fa fa-arrow-left"></i></a>
					详细信息</h2><a
						href="#" data-menu="menu-main" class="bg-fade-gray1-dark shadow-xl preload-img"
						data-src="/public/static/newassets/picture/4s.png"></a>
				</div>
				<div class="card header-card" data-card-height="150">
					<div class="card-overlay bg-highlight opacity-95"></div>
					<div class="card-overlay dark-mode-tint"></div>
					<div class="card-bg preload-img" data-src="/public/static/newassets/image/20.jpg"></div>
				</div>
                <div class="card card-style m-3 p-4">
                                {volist name='all' id='vo'}

                                <div style="font-size:14px;line-height:30px;">
                                    <span style="font-size:16px;color:green;">公司名称：{$vo.myname}</span><br/><hr/>
                                    <div style="font-size:14px;line-height:30px;">
                                    <span style="font-size:16px;color:green;">加工方式：{$vo.madd}</span><br/><hr/>
                                    <span style="font-size:16px;color:blank;">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：{$vo.myname}</span><br/>
                                    <span style="font-size:16px;color:blank;">单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;号：{$vo.dhao}</span><br/><hr/>
            						{volist name='db2' id='vox'}
            							<span style="font-size:16px;">名&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;称：{$vox.cpname}({$i})</span><br/>
            							<span style="font-size:16px;color:green;">牌号-批号：{$vox.djia}</span><br/>
            							
            							{if condition="($setting[0]['oldph']==1)"}
                                            <span style="font-size:16px;color:green;">原始批号：{$vox.oldph}</span><br/>
                                        {/if}
                                        
            							<span style="font-size:16px;">规&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;格：{$vox.csl}</span><br/>
                                        <span style="font-size:16px;color:blue;">重&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;量：{$vox.cpnum}{if condition="($vox.jine=='0')"}KG{else}{$vox.jine}{/if}</span><br/>
                                        <span style="font-size:16px;color:green;">单&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;价：{$vox.danjias}&nbsp;&nbsp;元</span><br/>
                                        <span style="font-size:16px;color:red;">合&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;计：{$vox.jineall}&nbsp;&nbsp;元</span><br/>
                                        <span style="font-size:16px;">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注：{$vox.mytext}&nbsp;&nbsp;</span><br/>
                						<!--<a href="/index/wwdj/editshow?id={$vox.id}">
                							<button type="button" class="btn btn-success btn-lg"
                						data-bs-toggle="modal" data-bs-target="#staticBackdrop">产品进度管理</button>
                						</a>
                						<a href="/index/wwdj/reku?id={$vox.id}">
                							<button type="button" class="btn btn-success btn-lg "
                						data-bs-toggle="modal" data-bs-target="#staticBackdrop">回收转库</button>
                						</a>-->
            							<hr>
            							
            						{/volist}
                                    
                                    <div style="font-size:16px;">
                                    备注:{$vo.xtext}<br/>
									</div>
                                    </div>
            						<hr/>

						<a href="/index/wwdj/editshow?id={$vo.id}">
							<button type="button" class="btn btn-success btn-lg"
						data-bs-toggle="modal" data-bs-target="#staticBackdrop">修改订单</button>
						</a>

						<button type="button"  onclick="reprint({$vo.id})" class="btn btn-success btn-lg"
						data-bs-toggle="modal" data-bs-target="#staticBackdrop">打印订单</button>

			{/volist}
				    


		</div>
		</div>
		<div class="pt-5 pb-5"></div>
        			

 {include file="public/footer3" /}
        