 {include file="public/header" /}

<link rel="stylesheet" href="/public/static/success/css/style.css">
<script src="/public/static/success/js/prefixfree.min.js"></script>

<div id="container">
  <div id="success-box">
    <div class="dot"></div>
    <div class="dot two"></div>
    <div class="face">
      <div class="eye"></div>
      <div class="eye right"></div>
      <div class="mouth happy"></div>
    </div>
    <div class="shadow scale"></div>
    <div class="message"><h1 class="alert">数据录入成功</p></div>
  </div>
</div>

 {include file="public/footer" /}
